<doctype html>
    <head>
        <title>MOwNiT Search</title>
    </head>
    <body>
    <h2>MOwNiT Search</h2>

    {% from "_formshelper.html" import render_field %}
    <form method=post>
        <dl>
            {{ render_field(form.search) }}
            {{ render_field(form.select) }}
        </dl>
        <input type=submit value=Search>
    </form>
    </body>
</doctype>
