<!doctype html>
<head>
    <title>{{ text[0] }}</title>
</head>
<body>
<h2>{{ text[0] }}</h2>

<p>

    {% for line in text[1:] %}

        {% if line[0]=="=" or line[:2]==" =" %}
            <h3>{{ line.replace("=","") }}</h3>

        {% else %}

            {{ line }}<br/>
        {% endif %}
    {% endfor %}

</p>
</body>
