<doctype html>
    <head>
        <title>Search results</title>
    </head>
    <body>

    {% from "_formshelper.html" import render_field %}
    <ol>
        {% for i in results %}
            <li>
                <p>
                    {{ pretty[i][:100]}} ...
                </p>
                <a href={{ "../../articles/{}/pretty".format(i) }}>Pretty </a>
                <a href={{ "../../articles/{}/stemmed".format(i) }}>Stemmed </a>
                Corel :{{ correl[i]}}
            </li>
        {% endfor %}
    </ol>
    </body>
</doctype>